<%= form_with(model: employee, local: true) do |form| %>
  <% if employee.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

      <ul>
      <% employee.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_no %>
    <%= form.number_field :employee_no, id: :employee_employee_no %>
  </div>

  <div class="field">
    <%= form.label :employee_name %>
    <%= form.text_field :employee_name, id: :employee_employee_name %>
  </div>

  <div class="field">
    <%= form.label :date_of_birth %>
    <%= form.date_select :date_of_birth, id: :employee_date_of_birth %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= form.text_field :gender, id: :employee_gender %>
  </div>

  <div class="field">
    <%= form.label :primary_email_address %>
    <%= form.text_field :primary_email_address, id: :employee_primary_email_address %>
  </div>

  <div class="field">
    <%= form.label :secondary_email_address %>
    <%= form.text_field :secondary_email_address, id: :employee_secondary_email_address %>
  </div>

  <div class="field">
    <%= form.label :primary_contact_no %>
    <%= form.number_field :primary_contact_no, id: :employee_primary_contact_no %>
  </div>

  <div class="field">
    <%= form.label :secondary_contact_no %>
    <%= form.number_field :secondary_contact_no, id: :employee_secondary_contact_no %>
  </div>

  <div class="field">
    <%= form.label :permanent_address %>
    <%= form.text_field :permanent_address, id: :employee_permanent_address %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit, id: :employee_unit %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department, id: :employee_department %>
  </div>

  <div class="field">
    <%= form.label :employee_type %>
    <%= form.text_field :employee_type, id: :employee_employee_type %>
  </div>

  <div class="field">
    <%= form.label :employement_status %>
    <%= form.text_field :employement_status, id: :employee_employement_status %>
  </div>

  <div class="field">
    <%= form.label :rank %>
    <%= form.text_field :rank, id: :employee_rank %>
  </div>

  <div class="field">
    <%= form.label :original_assignment %>
    <%= form.date_select :original_assignment, id: :employee_original_assignment %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
