<p id="notice"><%= notice %></p>

<h1>Employees</h1>

<table>
  <thead>
    <tr>
      <th>Employee no</th>
      <th>Employee name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Primary email address</th>
      <th>Secondary email address</th>
      <th>Primary contact no</th>
      <th>Secondary contact no</th>
      <th>Permanent address</th>
      <th>Unit</th>
      <th>Department</th>
      <th>Employee type</th>
      <th>Employement status</th>
      <th>Rank</th>
      <th>Original assignment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.employee_no %></td>
        <td><%= employee.employee_name %></td>
        <td><%= employee.date_of_birth %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.primary_email_address %></td>
        <td><%= employee.secondary_email_address %></td>
        <td><%= employee.primary_contact_no %></td>
        <td><%= employee.secondary_contact_no %></td>
        <td><%= employee.permanent_address %></td>
        <td><%= employee.unit %></td>
        <td><%= employee.department %></td>
        <td><%= employee.employee_type %></td>
        <td><%= employee.employement_status %></td>
        <td><%= employee.rank %></td>
        <td><%= employee.original_assignment %></td>
        <td><%= link_to 'Show', employee %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee) %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_employee_path %>

<h2>Import Employee Details</h2>

<%= form_tag({:action => :import}, multipart: true) do %>
  <%= file_field_tag :file %>
  <%= submit_tag( "Import" ) %>
<% end %>

<p>
  Download:
  <%= link_to "CSV", employees_path(format: "csv") %>
  <%= link_to "Excel", employees_path(format: "xls") %>
</p>
