<p id="notice"><%= notice %></p>

<p>
  <strong>Transactionno:</strong>
  <%= @transaction.TransactionNo %>
</p>

<p>
  <strong>Applicationdate:</strong>
  <%= @transaction.ApplicationDate %>
</p>

<p>
  <strong>Leavetype:</strong>
  <%= @transaction.LeaveType %>
</p>

<p>
  <strong>Leavedetails:</strong>
  <%= @transaction.LeaveDetails %>
</p>

<p>
  <strong>Leavestatus:</strong>
  <%= @transaction.LeaveStatus %>
</p>

<p>
  <strong>Developmenttype:</strong>
  <%= @transaction.DevelopmentType %>
</p>

<p>
  <strong>Degreepursued:</strong>
  <%= @transaction.DegreePursued %>
</p>

<p>
  <strong>Institution:</strong>
  <%= @transaction.Institution %>
</p>

<p>
  <strong>Location:</strong>
  <%= @transaction.Location %>
</p>

<p>
  <strong>Country:</strong>
  <%= @transaction.Country %>
</p>

<p>
  <strong>Sponsordonor:</strong>
  <%= @transaction.SponsorDonor %>
</p>

<p>
  <strong>Localabroad:</strong>
  <%= @transaction.LocalAbroad %>
</p>

<p>
  <strong>Startdate:</strong>
  <%= @transaction.StartDate %>
</p>

<p>
  <strong>Enddate:</strong>
  <%= @transaction.EndDate %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @transaction.Duration %>
</p>

<p>
  <strong>Reportforduty:</strong>
  <%= @transaction.ReportForDuty %>
</p>

<p>
  <strong>Returnserviceobligation:</strong>
  <%= @transaction.ReturnServiceObligation %>
</p>

<p>
  <strong>Returnserviceobligationstatus:</strong>
  <%= @transaction.ReturnServiceObligationStatus %>
</p>

<%= link_to 'Edit', edit_transaction_path(@transaction) %> |
<%= link_to 'Back', transactions_path %>
